.container {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  justify-content: space-between;

  width: 150px;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
}

.logo:hover {
  color: #ff8906;
}

.link {
  font-size: 1.2em;

  text-decoration: underline;

  color: #ff8906;  
}

.link:hover {
  color: #e53170
}