.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
}

.logo:hover {
  color: var(--accent);
}

.headerLinks {
  font-size: 1.2em;
}

.headerLinks * {
  margin-right: 1em;
}

.headerLinks *:last-child {
  margin-right: 0;
}

.link {
  text-decoration: underline;
  color: var(--accent);  
  cursor: pointer;
}

.link:hover {
  color: var(--accent-lighter)
}