.container {  
  width: 90%;
  margin: 5vw auto;
}

.footer {
  width: 90%;
  margin: 2.5vw auto;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
}

.logo:hover {
  color: var(--accent-lighter);
}

@media (min-width: 800px) {
  .container {  
    width: 700px;
    margin: 5vw auto;
  }

  .footer {
    width: 700px;
  }
}


