.wrapper {
  width: fit-content;
  border-radius: 8px;
  margin: 30px auto;
  padding: 20px;
  background-color: rgb(39, 39, 39)
}

.urlUsername {
  color: #ff8906
}

.textInput {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  padding: 10px;

  text-decoration: underline;
  border-width: 0;
  border-radius: 5px;
  color: white;
  background-color: #e53170;
  cursor: pointer;
}