.card {
  padding: 15px;
  border-radius: 5px;

  background-color: var(--elevation-background);
  box-shadow: var(--elevation-shadow);
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.7em;
  margin-bottom: 15px;
}

.flexRow:last-of-type {
  margin-bottom: 0;
}

.icon {
  height: 0.75em;
  margin-right: 5px;
}