.field {
  width: 90%;
  display: grid;
  grid-template-columns: 45px 1fr auto;
  gap: 10px
}

.field label {
  font-size: 0.7em;
  text-align: right;
  align-self: center;
}

.field input {
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
  color: var(--main-foreground);
}

.field input:disabled {
  color: gray;
  border-width: 0;
  background-color: var(--disabled);
}

.save {
  padding: 0;
  text-decoration: underline;
  border: none;
  color: var(--accent);
  background-color: transparent;
  cursor: pointer;
}

.save:hover {
  color: var(--accent-lighter)
}

.edit {
  padding: 0;
  text-decoration: underline;
  border: none;
  color: var(--accent-alt);
  background-color: transparent;
  cursor: pointer;
}

.edit:hover {
  color: var(--accent-alt-lighter);
}