.headline {
  font-size: 1.75em;
  font-weight: bold;
}

.subheadline {
  font-size: 1.50em;
  font-weight: bold;
}

.newLink {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  margin-bottom: 10px;
  border: 1px dashed #a7a9be;
  border-radius: 5px;
}

.newLinkForm {
  width: 80%
}

.newLinkField {
  width: 100%;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.newLinkField:last-of-type {
  margin-bottom: 0;

  display: flex;
  align-items: center;
}

.newLinkField label {
  margin-right: 10px;
}

.newLinkField input {
  width: 100%;
  padding: 5px;
  border-width: 0;
  border-radius: 5px;

  color: white;
  background-color: #a7a9be;
}

.newLinkButton {
  width: 19%;
  margin-left: 1%;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;

  color: white;
  background-color: #e53170;

  cursor: pointer;
}