:root {
  --main-background: #F5F5F5;
  --main-foreground: #39393A;

  --elevation-background: #FFFFFF;
  --elevation-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --accent: #FF4500;
  --accent-lighter: #fd5a31;

  --accent-bright: #FF7F11;
  --accent-bright-lighter: #ffa000;

  --accent-alt: #539987;
  --accent-alt-lighter: #6e9fa5;

  --disabled: #d5d5d5;

  --button-background: var(--accent);
  --button-background-hover: var(--accent-lighter);
  --button-text: #F5F5F5;
}

html,
body {
  padding: 0;
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  color: var(--main-foreground);
  background-color: var(--main-background);
}

/* Type will scale with document */
html {
  font-size: 18px;
}
@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2.0em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}