.headline {
  font-size: 1.75em;
  font-weight: bold;
}

.profiles {
  display: flex;
}

.profiles > * {
  margin-right: 10px;
}

.profiles > *:last-child {
  margin-right: 0;
}

.profile {
  margin-right: 5px;
  padding: 7.5px;
  border-radius: 5px;

  color: white;
  background-color: var(--button-background-primary);
}

.profile:hover {
  opacity: 0.9;
}

