.headline {
  font-size: 1.75em;
  font-weight: bold;
}

.profiles {
  display: flex;
}

.profile {
  margin-right: 5px;
  padding: 7.5px;
  border-radius: 5px;

  color: white;
  background-color: #ff8906;
}

.profile:hover {
  background-color: #e53170;
}

.profile:last-of-type {
  margin-right: 0;
}
