.urlUsername {
  color: #ff8906
}

.input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-width: 1px solid #ccc;
  border-style: solid;
  border-radius: 5px;
}

.invalid {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: var(--accent-danger);
  border: 1px solid var(--accent-danger);
  background-color: transparent;
}