.card {
  padding: 10px;
  border-radius: 5px;

  background-color: #25282e;
}

.userDetails {
  text-align: center;
  padding: 10px;

  color: #ff8906;
}

.name {
  padding-top: 5px;
}

.avatar{
  border-radius: 5px;
}

.link {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #454655;
}

.link:hover {
  background-color: #50505a;
}