.card {
  width: 700px;
  margin: 40px auto;
  padding: 10px;
  border-radius: 5px;

  background-color: #25282e;
}

.user {
  padding: 10px;

  color: #ff8906;
}

.avatar{
  border-radius: 5px;
}

.link {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #454655;
}