.userDetails {
  text-align: center;
  padding: 10px;

  color: var(--accent);
}

.name {
  padding-top: 5px;
}

.avatar{
  border-radius: 5px;
}

.link {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: var(--button-text);
  background-color: var(--accent);
}

.link:hover {
  background-color: var(--accent-lighter);
}